<div class="form offset-lg-2 col-lg-8">
  <form [formGroup]="eventForm" (ngSubmit)="saveEvent()">
    <h4 class="h4-responsive font-weight-bold text-center pt-5"><i class="fa fa-plus-square left mr-2"></i>
      Termin buchen</h4>
    <hr>
    <div class="row pt-5">
      <div class="offset-lg-2 col-lg-2">
        <label for="event"><i class="fa fa-calendar left mr-2"></i>Datum:</label>
      </div>
      <div class="offset-lg-0 col-lg-6">
        <input id="event" type="date" name="event" disabled [value]="clickedDay | date: 'yyyy-MM-dd'"
               class="form-control"/>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="offset-lg-2 col-lg-2">
        <label for="offer"><i class="fa fa-cart-plus left mr-2"></i>Angebot:</label>
      </div>
      <div class="offset-lg-0 col-lg-6">
        <ngx-select id="offer" [items]="offerOptions" name="offer" [multiple]="false"
                    optionTextField="description" [allowClear]="false" (select)="change($event)"
                    formControlName="offer"></ngx-select>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="offset-lg-2 col-lg-2">
        <label for="offer"><i class="fa fa-paw left mr-2"></i>Tier:</label>
      </div>
      <div class="offset-lg-0 col-lg-6">
        <ngx-select id="animal" [items]="offerAnimals" name="animal" [multiple]="false"
                    optionTextField="name" [allowClear]="false" formControlName="animal"></ngx-select>
      </div>
    </div>
    <div class="btnSection p-5">
      <button mdbBtn type="submit" class="btn btn-success wow tada z-depth-2" rounded="true"
              [disabled]="eventForm.invalid"
              mdbWavesEffect style="font-weight: bold">Speichern
      </button>
    </div>
  </form>
</div>

    <div class="btnSection mt-5 pt-5">
      <button mdbBtn type="button" color="primary" rounded="true" class="btnShow wow pulse infinite"
              data-wow-delay="0.3s"
              mdbWavesEffect>
        Termin buchen
      </button>
    </div>



<div mdbModal #basicModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
     aria-labelledby="myBasicModalLabel"
     [config]='{backdrop: false, ignoreBackdropClick: false}' aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content" *ngIf="modal"  style="background-color: #adc2eb">
      <div class="modal-header">
        <button type="button" class="close pull-right text-white" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-white" id="myModalLabel">
          <strong>{{modal.date | date: 'dd.MM.yyyy'}}</strong></h4>
      </div>
      <div class="modal-body text-center">
        <strong>Bezeichnung:</strong> <br/>{{modal.description}} <br/>
        <br/>
        <strong>Dauer:</strong> {{modal.duration}} Minuten
        <br/>
        <br/>

        <img [src]="'/api/dto/animals/image/' + modal.animalId | image | async" class="img-thumbnail"
             style="width: 200px"
             onError="this.src='https://www.lieco.at/wp-content/uploads/2015/11/placeholder-300x225.png';">
        <br/>
        <strong>Tiername:</strong> {{modal.animalName}} <br/>

        <hr style="width:60%">

        <strong>Betreuer:</strong> <br/>
        {{modal.employeeFirstName}} {{modal.employeeLastName}} <br/>
        <br/>

        <strong>Ort:</strong> <br/>
        {{modal.location.name}} <br/>
        {{modal.location.address}} <br/>

        <br/>
        <strong>Telefonnummer:</strong><br/>
        {{modal.location.phone}}

      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" mdbBtn color="primary" class="btnClose waves-light" aria-label="Close"
                (click)="basicModal.hide()" mdbWavesEffect>Schliessen
        </button>
      </div>
    </div>
  </div>
</div>

<div class="page">
  <div *ngIf="calendarOptions">
    <ng-fullcalendar #ucCalendar [options]="calendarOptions" [(eventsModel)]="events"
                     (dayClick)="clickDay($event.detail)"
                     (eventClick)="clickEvent($event.detail); basicModal.show()"></ng-fullcalendar>
  </div>
</div>
