
html {
  height: 100%;
}

.card {
  margin: 3% auto;
  width: 90%;
  border: 1px solid grey;
  border-radius: 15px;

  h6 {
    text-align: justify;
  }

  mdb-badge {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 16px;
  }
}

.cascading-admin-card {
  margin-top: 20px;
}

.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}

.cascading-admin-card .admin-up .fa {
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}

.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}

.cascading-admin-card .admin-up .data p {
  color: #999999;
  font-size: 12px;
}

.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}
.classic-admin-card .card-body .float-right .fa {
  font-size: 3rem;
  opacity: 0.5;
}

.cascading-admin-card .admin-up .fa {
  -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
}

.card {
  background-color: white;
}

.md-form .prefix {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.md-form label {
  color: black;
}
h6 {
  line-height: 1.7;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 1040px;
  }
}
.entry-card {
  background-color: white;
  width: 95%;
}




html {
  height: 100%;
}

.intro-header {
  height: unset !important;
}

.view {
  height: 100vh !important;
}
.top-nav-collapse {
  background-color: #3f51b5 !important;
}
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #3f51b5 !important;
  }
}
.rgba-gradient .full-bg-img {
  background: linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
}
.card {
  background-color: white;
  border-radius: 15px;
}

.md-form .prefix {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.md-form label {
  color: black;
}
h6 {
  line-height: 1.7;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 1040px;
  }

}

.btn-register{
  background-color: dodgerblue;
  outline-color: dodgerblue;
}

.animalOfMonth{
  border-radius: 15px;
  text-align: center;
}

.card-img-top{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;

}


