
<div class="head offset-lg-2 col-lg-8 p-5 mb-5 z-depth-2">
  <form [formGroup]="offerForm" (ngSubmit)="saveOffer()">
    <div class="form-group">
      <h2 class="h2-responsive font-weight-bold text-center p-5"><i class="fa fa-plus-square left mr-2"></i>
        Angebot hinzufügen</h2>
      <hr class="mb-5">
      <div *ngIf="offerForm.invalid" class="text-center alert alert-danger">
        Alle Felder müssen ausgefüllt werden!
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-8 p-2">
          <label for="description"><i class="fa fa-pencil left mr-2"></i>Beschreibung:</label>
          <input id="description" type="text" name="description" formControlName="description" class="form-control"/>
        </div>
      </div>

      <div class="row">
        <div class="offset-lg-2 col-lg-8 p-2">
          <label for="duration"><i class="fa fa-clock-o left mr-2"></i>Dauer in Minuten:</label>
          <input id="duration" type="number" name="duration" formControlName="duration" class="form-control"/>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="offset-lg-2 col-lg-2">
          <label for="species"><i class="fa fa-paw left mr-2"></i>Tierart:</label>
        </div>
        <div class="offset-lg-0 col-lg-6">
          <ngx-select id="species" [items]="speciesOptions" name="species" [multiple]="false"
                      formControlName="species" optionTextField="name" [allowClear]="false"></ngx-select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="offset-lg-2 col-lg-2">
          <label for="location"><i class="fa fa-map-marker left mr-2"></i>Standort:</label>
        </div>
        <div class="offset-lg-0 col-lg-6">
          <ngx-select id="location" [items]="locationOptions" name="location" [multiple]="false"
                      formControlName="location" optionTextField="name" [allowClear]="false"></ngx-select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="offset-lg-2 col-lg-2">
          <label for="user"><i class="fa fa-briefcase left mr-2"></i>Kursleiter:</label>
        </div>
        <div class="offset-lg-0 col-lg-6">
          <ngx-select id="user" [items]="employeeOptions" name="user" [multiple]="false"
                      formControlName="user" optionTextField="firstName" [allowClear]="false">
            <ng-template ngx-select-option let-option let-text="text">
              {{option.data.firstName}} {{option.data.lastName}}
            </ng-template>

            <ng-template ngx-select-option-selected let-option let-text="text">
              {{option.data.firstName}} {{option.data.lastName}}
            </ng-template>
          </ngx-select>
        </div>
      </div>
    </div>
    <div class="btn-block p-4">
      <button type="submit" class="btn btn-success wow tada z-depth-2" [disabled]="offerForm.invalid">
        Speichern
      </button>
    </div>

  </form>
</div>
