<html>

<!--Grid column-->
<div class="head wow slideInRight z-depth-2">
  <!--Card-->
  <div class="row pt-3">

    <div class="offset-lg-1 col-lg-3 p-3">
      <img class="img" src="https://avatars1.githubusercontent.com/u/32922890?s=400&v=4" style="max-width: 20rem">
    </div>


    <div class="offset-lg-0 col-lg-7 pt-4 pb-5 wow fadeInRight" data-wow-delay="0.3s">
      <mdb-card borderColor="border-primary" class="z-depth-1">
        <mdb-card-header class="text-white" style="background-color: #0066ff">
          <strong><i class="fa fa-desktop prefix mr-2"></i>Celyca</strong></mdb-card-header>
        <mdb-card-body style="background-color: #80b3ff">
          <mdb-card-title>
            <h6><strong> Coding-Genius:</strong></h6>
          </mdb-card-title>
          <br/>
          Weit und breit gibt es keinen besseren Programmierer! Sein Verständnis für die Programmlogik sowie sein Talent
          Unmögliches möglich zu machen machen ihn zum unverzichtbaren Teil unserer Gruppe - einfach umwerfend!
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>

  <!--/.Card-->

</div>
<!--Grid column-->


<!--Grid column-->
<div class="head wow slideInLeft z-depth-2">
  <!--Card-->
  <div class="row pt-3">

    <div class="offset-lg-1 col-lg-7 pt-4 pb-5 wow fadeInLeft" data-wow-delay="0.3s">
      <mdb-card borderColor="border-pink"  class="z-depth-1">
        <mdb-card-header class="text-white" style="background-color: #ff66cc">
          <strong><i class="fa fa-magic prefix mr-2"></i>Flamingo25</strong></mdb-card-header>
        <mdb-card-body style="background-color: #ffccee">
          <mdb-card-title>
            <h6><strong>Design-Magician:</strong></h6>
          </mdb-card-title>
          <br/>
         Wenn es um's Design geht, gibt es keine bessere Wahl! Für sie ist kein Design-Wunsch der Kollegen
          unerfüllbar sondern wird zu einer Herausforderung. Von Animationen träumt sie bereits
          - einfach fantastisch!
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="offset-lg-0 col-lg-3 p-3" style="margin-left: 4%">
      <img class="img" src="https://avatars0.githubusercontent.com/u/32923155?s=400&v=4" style="max-width: 20rem">
    </div>


  </div>

  <!--/.Card-->

</div>
<!--Grid column-->


<!--Grid column-->
<div class="head wow slideInRight z-depth-2">
  <!--Card-->
  <div class="row pt-3">

    <div class="offset-lg-1 col-lg-3 p-3">
      <img class="img" src="https://avatars2.githubusercontent.com/u/32923059?s=400&v=4" style="max-width: 20rem">
    </div>


    <div class="offset-lg-0 col-lg-7 pt-4 pb-5 wow fadeInRight" data-wow-delay="0.3s">
      <mdb-card borderColor="border-info"  class="z-depth-1">
        <mdb-card-header class="text-white" style="background-color: #0099ff">
          <strong><i class="fa fa-database prefix mr-2"></i>Cookiemonster25</strong></mdb-card-header>
        <mdb-card-body style="background-color: #66c2ff">
          <mdb-card-title>
            <h6><strong>Database-Queen:</strong></h6>
          </mdb-card-title>
          <br/>
          Wenn es um Datenbanken oder das Gestalten vom Frontend geht, ist für dieses Teammmitglied
          keine Aufgabe unerfüllbar. Sie schreckt sich vor keinen temporären Frontend-Problemen - einfach atemberaubend!
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>

  <!--/.Card-->

</div>
<!--Grid column-->
</html>
