
.head {
  background-color: white;
  margin-top: 10%;
  border-radius: 10px;
  align-content: center;
}


h5{
  display: inline;
  margin-left: 0;
}

.btn{
  border: 2px solid white;
}

.card{
  text-align: left;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(0deg , dodgerblue, rgba(255,255,255,0));
  margin-bottom: 2%;
}


