<!--Intro Section-->
<section class="view intro-2">
  <div class="full-bg-img mask rgba-gradient">
    <div class="container flex-center">
      <div class="d-flex align-items-center content-height w-100">
        <div class="row flex-center pt-5 mt-3 w-100">
          <div class="col-md-6 text-center text-md-left mb-5">
            <div class="white-text">
              <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Jetzt Registrieren! </h2>
              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
              <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Registrieren Sie sich heute noch, um auf unserer tollen
                Webseite zu surfen. Spaß sowie sinnvoll verbrachte Zeit sind garantiert!
                Falls Sie bereits zu unserem Team gehören, dann loggen Sie sich mit dem "Einloggen"-Button ein und
                starten Sie da Abenteuer!</h6>
              <br>
              <a mdbBtn color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s"
                 mdbPopover="Um mehr Infos zu unserer Institution zu erhalten, sollten Sie sich bitte zuerst registrieren."
                 placement="right" mdbWavesEffect>
                Mehr Infos
              </a>
            </div>
          </div>

          <div class="col-md-6 col-xl-5 offset-xl-1">
            <!--Form-->
            <div class="card wow fadeInRight " data-wow-delay="0.3s">
              <div class="card-body p-5">
                <!--Header-->
                <div class="text-center">
                  <h3><i class="fa fa-user"></i> Registrieren:</h3>
                  <hr class="hr-light">
                </div>

                <!--Body-->
                <form [formGroup]="registerForm" (ngSubmit)="saveUser()">
                  <div class="row">
                    <div class="offset-lg-2 col-lg-8 p-2">
                      <label for="username"><i class="fa fa-user prefix"></i></label>
                      <input id="username" type="text" name="username" formControlName="username" class="form-control"/>
                    </div>
                  </div>

                  <div *ngIf="registerForm.controls.username.invalid && (registerForm.controls.username.dirty || registerForm.controls.username.touched)"
                       class="alert alert-danger">
                    <div *ngIf="registerForm.controls.username.errors.required">
                      Username is required.
                    </div>
                    <div *ngIf="registerForm.controls.username.errors.minlength">
                      Username must be at least 4 characters long.
                    </div>
                  </div>

                  <div class="row">
                    <div class="offset-lg-2 col-lg-8 p-2">
                      <label for="password"><i class="fa fa-user prefix"></i></label>
                      <input id="password" type="password" name="password" formControlName="password" class="form-control"/>
                    </div>
                  </div>

                  <div *ngIf="registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)"
                       class="alert alert-danger">
                    <div *ngIf="registerForm.controls.password.errors.required">
                      Password is required.
                    </div>
                    <div *ngIf="registerForm.controls.password.errors.minlength">
                      Password must be at least 6 characters long.
                    </div>
                  </div>

                  <div class="row">
                    <div class="offset-lg-2 col-lg-8 p-2">
                      <label for="password2"><i class="fa fa-user prefix"></i></label>
                      <input id="password2" type="password" name="password2" formControlName="password2" class="form-control"/>
                    </div>
                  </div>

                  <div *ngIf="registerForm.controls.password2.invalid && (registerForm.controls.password2.dirty || registerForm.controls.password2.touched)"
                       class="alert alert-danger">
                    <div *ngIf="registerForm.controls.password2.errors.required">
                      Password2 is required.
                    </div>
                    <div *ngIf="registerForm.controls.password2.errors.mismatch">
                      Password doesn't match
                    </div>
                  </div>


                <div class="text-center">
                  <button mdbBtn color="indigo" class="waves-light" mdbWavesEffect [disabled]="registerForm.invalid">Registrieren</button>
                </div>
                </form>
              </div>
            </div>

            <!--/.Form-->
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
